%h1
  .page-header
    - if @task.complete
      %s= @task.description.titleize
    - else
      = @task.description
    = link_to 'Edit', edit_task_path(@task), class:"btn btn-info pull-right"
%ol.breadcrumb
  %li= link_to "Tasks", tasks_path(@tasks)
  %li.active= @task.description
- if @task.due_date
  = succeed ":" do

    %strong Due On
  = @task.due_date.strftime("%m/%d/%Y")
