%h1
  .page-header
    - if @task.complete
      %s= @task.description.titleize
    - else
      = @task.description
    = link_to 'Edit', edit_project_task_path(@project, @task), class:"btn btn-info pull-right"
%ol.breadcrumb
  %li= link_to "Projects", projects_path
  %li= link_to @project.name, project_path(@project)
  %li= link_to "Tasks", project_tasks_path(@project)
  %li.active= @task.description
- if @task.due_date
  = succeed ":" do

    %strong Due On
  = @task.due_date.strftime("%m/%d/%Y")
