<div class="jumbotron">
  <h1>gCamp</h1>
  <p>Your life, organized</p>
</div>


<div class="row">
  <div class="col-md-4"><p class="lead"><%=image_tag("gCamp_2.jpg", class:"img-responsive")%></p>
    <div class="panel panel-primary">
    <div class="panel-heading">Tasks</div>
    <div class="panel-body">
    Grouped by projects and lists.
    Just the way you like'em.
    </div>
    </div>
  </div>

<div class="col-md-4"><p class="lead"><%=image_tag("gCamp_3.jpg", class:"img-responsive")%></p>
  <div class="panel panel-primary">
  <div class="panel-heading">Permissions</div>
  <div class="panel-body">
  Fine-grained Permissions
  </div>
  </div>
</div>

<div class="col-md-4"><p class="lead"><%=image_tag("gCamp_1.jpg", class:"img-responsive")%></p>
  <div class="panel panel-primary">
  <div class="panel-heading">Comments</div>
  <div class="panel-body">
    <ul>
      <li>Comment on tasks and documents.</li>
      <li>Get email notifications.</li>
    </ul>
  </div>
  </div>
</div>
</div>

<p><%=@quotes_array[0]["quote"] %></p>
<p class = "text-muted"><em><%=@quotes_array[0]["contributor"] %></em></p>

<p><%=@quotes_array[1]["quote"] %></p>
<p class = "text-muted"><em><%=@quotes_array[1]["contributor"] %></em></p>

<p><%=@quotes_array[2]["quote"] %></p>
<p class = "text-muted"><em><%=@quotes_array[2]["contributor"] %></em></p>
